header {
    background-color: #d1c117c0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: black;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

.home-section {
    padding: 40px;
    text-align: center;
    background-color: #841865;
    img {
        max-width: 500px;
        max-height: 500px;
        border: 100%;
        margin-top: 20px;
    }
}

.about-section {
    padding: 40px;
    text-align: center;
    background-color: #e9e9e9;
    img {
        max-width: 500px;
        max-height: 500px;
        border: 100%;
        margin-top: 20px;
    }
}

.contact-section {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    img {
        max-width: 500px;
        max-height: 500px;
        border: 100%;
        margin-top: 20px;
    }
}

footer {
    background-color: #d1c117c0;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #777777;
}